.class-name {
    font-weight: bolder;
    font-size: 32px;
    padding: 10px;
  }
 
.class-info{
    position: relative;
    width: 65rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: white;
    background-color: teal;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.class-detail{
    position: relative;
    width: 65rem;
    height: 10rem;
    line-height: 5rem;
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: white;
    background-color: teal;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.prof-info{
    width: 65rem;
    height: 5rem;
    background-color: teal;
    border: solid;
    border-radius: 10px;
    color: white;
    font-size: 28px;
    cursor: pointer;
    position: relative;
}

.back-results-button{
    padding: 12px 16px;
    background-color: teal;
    border: solid;
    border-radius: 10px;
    color: white;
    font-size: 28px;
    cursor: pointer;
    position: relative;
}
