.class-name {
    font-weight: bolder;
    font-size: 32px;
    padding: 10px;
}
.class-name-1 {
    font-weight: bolder;
    font-size: 24px;
    padding: 10px;
}
 
.class-info{
    position: relative;
    width: 75vw;
    height: 5vw;
    line-height: 4rem;
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: white;
    background-color: teal;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.class-info-1{
    position: relative;
    width: 75vw;
    height: 15vw;
    line-height: 4rem;
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: white;
    background-color: teal;
    border-radius: 10px;
    margin-bottom: 2rem;
    font-size: 18px;
}

.class-detail{
    position: relative;
    width: 75vw;
    height: 5vw;
    line-height: 4rem;
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: white;
    background-color: teal;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.class-detail-1{
    position: relative;
    width: 75vw;
    height: 18vw;
    line-height: 8vw;
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: white;
    background-color: teal;
    border-radius: 10px;
    margin-bottom: 2rem;
    font-size: 18px;
}

.class-rec{
    top: 25px;
    position: relative;
    width: 75vw;
    height: 25vw;
    line-height: 4rem;
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: white;
    background-color: teal;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.class-rec-1{
    top: 25px;
    position: relative;
    width: 75vw;
    height: 110vw;
    line-height: 3rem;
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: white;
    background-color: teal;
    border-radius: 10px;
    margin-bottom: 2rem;
    font-size: 18px;
}

.prof-info{
    top: 10px;
    padding: 10px 350px;
    background-color: teal;
    border: solid;
    border-radius: 10px;
    color: white;
    font-size: 28px;
    cursor: pointer;
    position: relative;
}
.prof-info-1{
    top: 5px;
    width: 60vw;
    padding: 5px 30px;
    background-color: teal;
    border: solid;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

.back-results-button:hover{
    background-color:white;
    color:black;
}
.back-results-button{
    padding: 10px 20px;
    top: 40px;
    margin-left:15px;
    border: 2.5px;
    border-color: white;
    border-style: solid;
    border-radius: 150px / 200px;
    background-color: #57068C;
    color:white; 
    position: relative;
    cursor:pointer;
    font-family:roboto;
    font-size: 30px;
}
.back-results-button-1:hover{
    background-color:white;
    color:black;
}
.back-results-button-1{
    padding: 5px 10px;
    top: 20px;
    margin-left:5px;
    border: 2.5px;
    border-color: white;
    border-style: solid;
    border-radius: 150px / 200px;
    background-color: #57068C;
    color:white; 
    position: relative;
    cursor:pointer;
    font-family:roboto;
    font-size: 18px;
}
