.ClassModules{
    position: relative;
    /* margin-top: 15rem; */
}
a:link{
    color: white;
    text-decoration: none;
    
}
a{
    color:white
}
.search-item{
    position: relative;
    width: 80rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    border: 3px;
    border-style: solid;
    border-color: white;
    background-color: teal;
    border-radius: 10px;
    margin-bottom: 2rem;
    
}