.Home{
    background-color: #57068C;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  height: 65vh;
  width: 100vw;
}

.textField{

}