.Home{
    background-color: #57068C;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  min-height: 70vh;
  height: 70vh;
  width: 100vw;
}
.logoButton{
  position:absolute;
  top:15vh;
  left:40vw;
  border-style: solid;
  border: 0;
  padding:0px 0px 0px 0px;
  
}