.LoginLogout{
    position: relative;
}

.inputs{
    align-self: center;
    border: 3px solid #7851A9;
    width: 38rem;
    height: 3rem;
    color: gray;
    background-color: white;
    text-align: center;
    align-content: center;
    font-size: calc(10px + 2vmin);
    border-style: solid;
    border-color: white;


}

.submit-button{
    padding: 12px 16px;
    background-color: teal;
    border: solid;
    border-radius: 10px;
    color: white;
    font-size: 28px;
    cursor: pointer;
    position: relative;
}



.submit-button:hover {
    background-color: #360358;
}


.center{
    justify-self: center;
    align-self: center;
    align-content: center;
    align-items: center;
}