.Login{
    text-align: center;
    white-space: pre-wrap;
    align-content: center;
    align-items: center;
    vertical-align: center;
}

.Login-page{
    position: relative;
    border-style: solid;
    border-color: white;
    border:10px;
    background-color: #57068C;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    white-space: pre-wrap;
    
}
  

/*.    height: 70rem;
    width: 100%;
*/