.LoginForm{
    position: absolute;
    /* bottom:10vw; */
}
.inputs{
    position: relative;
    align-self: center;
    border: 3px solid #7851A9;
    width: 40vw;
    height: 5vh;
    color: black;
    background-color: white;
    text-align: center;
    align-content: center;
    font-size: 20px;
} 
/* .inputWrapper{
    position: relative;
    right:20vw;
    border: 3px solid #7851A9;
    width: 1vw;
    height: 3rem;
    color: black;
    background-color: white;
    
    font-size: 20px;
}
/* .box{
    width:50vw;
} */
.goButton:hover{
    background-color:white;
    color:black;
}
.goButton{
    padding: 5px 10px;
    top:20px;
    margin-left:15px;
    border: 2.5px;
    border-color: white;
    border-style: solid;
    border-radius: 20vw / 20vw;
    font-size: 30px;
    background-color: #57068C;
    color:white; 
    position: relative;
    cursor:pointer;
    font-family: roboto;
}

.center{
    justify-self: center;
    align-self: center;
    align-content: center;
    align-items: center;
}