.LoginForm{

}
.inputs{
    align-self: center;
    border: 3px solid #7851A9;
    width: 100%;
    height: 35px;
    color: teal;
    background-color: white;
    text-align: center;
    align-content: center;
    /* justify-content: center; 
    justify-self: center;
    justify-items: center; */
    /* //position: absolute; */
    
    /* position: 10,10; */
}
/* .box{ */
    /* width: 100%;
    height: 100px; */
    /* color: blue;
    background-color: blue; */
    /* align-items: center; */
    /* align-content: center; */
/* } */
/* .body {
    text-align: center;
} */
/* .form {
    display: inline-block;
} */