.LoginLogout{
    position: relative;
}

.inputs{
    align-self: center;
    border: 3px solid #7851A9;
    width: 38rem;
    height: 3rem;
    color: gray;
    background-color: white;
    text-align: center;
    align-content: center;
    font-size: calc(10px + 2vmin);
    border-style: solid;
    border-color: white;


}

.submit-button{
    padding: 10px 20px;
    top: 40px;
    margin-left:60px;
    margin-right:60px;
    border: 2.5px;
    border-color: white;
    border-style: solid;
    border-radius: 150px / 200px;
    font-size: 20px;
    background-color: #57068C;
    color:white; 
    position: relative;
    cursor:pointer;
    font-family:fantasy;
    font-size: 30px;
}


.submit-button:hover {
    background-color:white;
    color:black;
}

.center{
    justify-self: center;
    align-self: center;
    align-content: center;
    align-items: center;
}