.LoginLogout{
    position: relative;
}

.login_inputs{
    align-self: center;
    border: 3px solid #7851A9;
    width: 20vw;
    height: 5vh;
    color: gray;
    background-color: white;
    text-align: center;
    align-content: center;
    font-size: calc(10px + 2vmin);
    border-style: solid;
    border-color: white;

}
.logoButton{
    position:absolute;
    top:15vh;
    left:40vw;
    border-style: solid;
    border: 0;
    padding:0px 0px 0px 0px;
    
  }
.submit-button{
    padding: 10px 20px;
    top: 40px;
    margin-left:60px;
    margin-right:60px;
    border: 2.5px;
    border-color: white;
    border-style: solid;
    border-radius: 20vw / 20vw;
    font-size: 20px;
    background-color: #57068C;
    color:white; 
    position: relative;
    cursor:pointer;
    font-family:roboto;
    
}


.submit-button:hover {
    background-color:white;
    color:black;
}

.center{
    justify-self: center;
    align-self: center;
    align-content: center;
    align-items: center;
}