.menu{
    background-color: #57068C;
    width: 100vw;
}

.btn {
    background-color: #57068C;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    position: relative;

    right: 100%;
}

.btn:hover {
    background-color: #360358;
}
