.Menu-bar{
    
    background-color: red;
    height:5%;
    width: 100%;
    flex: 1;
    top: 10%;
    left: 0%;
    /* right: 100%; */
    /* margin-top: -50%; */
    margin-bottom: 50%;
    position: absolute;
    
}
a{
    color: white;
}

.App-logo {
    position: relative;
    margin-bottom: 10%;
    height: 20vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

.HomeLink {
    background-color: aqua;
    font-size: 120px;
    flex: 1;
    position: relative;
    margin-bottom: 10%;
}

.Account{
    /* height:10%; */
    flex: 1;
    position: absolute;
    margin-left: 2.5%;
    top: 10%;
    font-size: 1.5rem;
    color: white;
}
.Login{
    /* height:10%; */
    flex: 1;
    position: absolute;
    margin-left: 15%;
    top: 10%;
    font-size: 1.5rem;
    color: white;
}