.prof-page{
  border-style: solid;
  border-color: white;
  border:10px;
  background-color: #57068C;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  white-space: pre-wrap;
}

.classes{
  height: 20vh;
}

.Name {
  font-weight: bolder;
  font-size: 40px;
}

section {
  /* border: 1px solid red; */
  display: flex;
  padding: 10px;
  width: 80rem;
  position: relative;
}

.prof-article {
  flex: auto;
  /* border: 1px dotted yellow; */
  background-color: white;
  height: 80px;
  width: 250px;
  margin: 10px;
  padding: 10px;
}

.prof-h1 {
  color: black;
  font-weight: bold;
  background-color: rgb(154, 67, 236);
  /* border: 1px solid black; */
  font-size: 30px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.Score {
  color: rgb(189, 13, 13);
  font-weight: bolder;
  /* font-family: Gill Sans; */
  text-align: center;
  font-size: 30px;
  /* padding: 30px; */
  margin: 10px;
  padding: 5px;
}

a {
  min-height: 200vh;
  
}

h2 {
  color: black;
  font-weight: bold;
  background-color:white;
  border: 1px solid black;
  border-radius: 10%;
  font-size: 20px;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.Button {
  top: 40px;
  background-color: white;
  border: solid;
  border-radius: 10px;
  color: black;
  padding: 12px 16px;
  font-size: 30px;
  cursor: pointer;
  position: relative;
  /* margin-left: 5rem; */
}

.Button:hover {
  background-color: gray;
}