.results-page{
    background-color: #57068C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    white-space: pre-wrap;
    min-height: 190vh;
    width: 100vw;
}
.results-button{
    padding: 10px 20px;
    /* top: 40px; */
    margin-left:80px;
    margin-right:80px;
    border: 2.5px;
    border-color: white;
    border-style: solid;
    border-radius: 150px / 200px;
    font-size: 20px;
    background-color: #57068C;
    color:white; 
    position: relative;
    cursor:pointer;
    font-family:fantasy;
    font-size: 30px;

}
.results-button:hover {
    background-color: #360358;
}
