.results-page{
    background-color: #57068C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    white-space: pre-wrap;
    min-height: 90vw;
    width: 100vw;
}
.results-button{
    padding: 10px 20px;
    margin-left:10px;
    margin-right:10px;
    border: 2.5px;
    border-color: white;
    border-style: solid;
    border-radius: 20vw / 20vw;

    background-color: #57068C;
    color:white; 
    position: relative;
    cursor:pointer;
    font-family:roboto;
    font-size: 20px;

}
.results-button:hover {
    background-color:white;
    color:black;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.logoButton{
    position:absolute;
    top:15vh;
    left:40vw;
    border-style: solid;
    border: 0;
    padding:0px 0px 0px 0px;
    
  }
